{% extends 'base.html.twig' %}

{% block title %}Liste des groupes
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="mt-4 mb-5 ml-4 titre-site">
			<h1>Liste des groupes</h1>
		</div>
		{% for message in app.flashes('warning') %}
			<div class="alert alert-warning mt-4">
				{{ message }}
			</div>
		{% endfor %}
		{% for message in app.flashes('success') %}
			<div class="alert alert-dismissible alert-success mt-4">
				{{ message }}
			</div>
		{% endfor %}
		<div class="table-responsive-md">
			<table class="table table-bordered blue mb-4 ml-4">
				<thead>
					<tr>
						{% if is_granted('ROLE_ADMIN')%}
							<th>Id</th>
						{% endif %}
						<th>Livre</th>
						<th>Nom de la réunion</th>
						<th>Participants</th>
						<th>Date</th>
						{% if is_granted('ROLE_ADMIN')%}
							<th>
								Actions
							</th>
						{% endif %}
					</tr>
				</thead>
				<tbody>
					{% for group in groups %}
						<tr>
							{% if is_granted('ROLE_ADMIN')%}
								<td>{{ group.id }}</td>
							{% endif %}
							<td>{{ group.IdBook }}</td>
							<td>{{ group.name_group }}</td>
							<td>
								{% if is_granted('ROLE_USER') %}
										coming soon
								{% else %}
									<h5 class="titre-site">vous ne pourrez voir les participants que lorceque vous serez inscrit !
									</h5>
								{% endif %}
							</td>
							<td>{{ group.CreationDate ? group.CreationDate|date('Y-m-d H:i:s') : '' }}</td>
							{% if is_granted('ROLE_ADMIN')%}
								<td>
									<a href="{{ path('app_group_show', {'id': group.id}) }}" class="btn btn-primary mt-4 mr-4">Voir</a>
									<a href="{{ path('app_group_edit', {'id': group.id}) }}" class="btn btn-warning mt-4">Modifier</a>
								</td>
							{% endif %}
						</tr>
					{% else %}

						<tr>
							<td colspan="6">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="mt-5 mb-4 ml-4">
			{% if is_granted('ROLE_ADMIN') %}
				<a href="{{ path('app_group_new') }}" class="buttonbuttonnew">Creation d'un groupe</a>
			{% endif %}
		</div>
	</div>

{% endblock %}

