{% extends 'base.html.twig' %}

{% block title %}Mon profil
{% endblock %}

{% block body %}
	<div class="container-fluid mb-5">
		{% for message in app.flashes('warning') %}
			<div class="alert alert-warning mt-4">
				{{ message }}
			</div>
		{% endfor %}
		{% for message in app.flashes('success') %}
			<div class="alert alert-dismissible alert-success mt-4">
				{{ message }}
			</div>
		{% endfor %}

		<h1 class="ml-4 mt-4">{{ user.name}}</h1>

		<table class="table ml-5 mt-4 darkblue">
			<tbody>
				{% if is_granted('ROLE_ADMIN') %}
					<tr>
						<th>Id</th>
						<td>{{ user_info.id }}</td>
					</tr>
				{% endif %}
				<tr>
					<th>Direction</th>
					<td>{{ user_info.direction }}</td>
				</tr>
				<tr>
					<th>PostalCode</th>
					<td>{{ user_info.postalCode }}</td>
				</tr>
				<tr>
					<th>Town</th>
					<td>{{ user_info.town }}</td>
				</tr>
				<tr>
					<th>Country</th>
					<td>{{ user_info.country }}</td>
				</tr>
				<tr>
					<th>Tel</th>
					<td>{{ user_info.tel }}</td>
				</tr>
				<tr>
					<th>Name</th>
					<td>{{ user.name }}</td>
				</tr>
				<tr>
					<th>Pseudonym</th>
					<td>{{ user.pseudonym }}</td>
				</tr>
				<tr>
					<th>email</th>
					<td>{{ user.email }}</td>
				</tr>
			</tbody>
		</table>

		<div class="mt-5 mb-4">
			{% if is_granted('ROLE_ADMIN') %}
				<a href="{{ path('app_user_info_index') }}" class="buttonbutton mt-4 mr-4">Retour a la liste</a>

			{% endif %}
			<div class="mt-5 mb-4">
				<a href="{{ path('app_user_info_edit', {'id': user.id}) }}" class="buttonbuttonmodif mt-4 mb-4">Modifier</a>
			</div>
		</div>
	</div>
{% endblock %}

