{% extends 'base.html.twig' %}

{% block title %}Mon profil
{% endblock %}

{% block body %}
	{% for message in app.flashes('warning') %}
		<div class="alert alert-warning mt-4">
			{{ message }}
		</div>
	{% endfor %}
	{% for message in app.flashes('success') %}
		<div class="alert alert-dismissible alert-success mt-4">
			{{ message }}
		</div>
	{% endfor %}

	<h1 class="ml-4 mt-4">{{ user.name}}</h1>

	<table class="table ml-5 mt-4 darkblue">
		<tbody>
			{% if app.user and is_granted('ROLE_ADMIN') %}
				<tr>
					<th>Id</th>
					<td>{{ user.id }}</td>
				</tr>
			{% endif %}
			<tr>
				<th>Email</th>
				<td>{{ user.email }}</td>
			</tr>
			{% if is_granted('ROLE_ADMIN') %}
				<tr>
					<th>Roles</th>
					<td>{{ user.roles ? user.roles|json_encode : '' }}</td>
				</tr>
			{% endif %}
			<tr>
				<th>Name</th>
				<td>{{ user.name }}</td>
			</tr>
			<tr>
				<th>Pseudonym</th>
				<td>{{ user.pseudonym }}</td>
			</tr>
		</tbody>
	</table>

	{% if app.user and is_granted('ROLE_ADMIN') %}
		<div class="mt-4 mb-5 ml-5">
			<a href="{{ path('app_user_index') }}" class="buttonbutton ">Retour a la liste</a>
		</div>
	{% endif %}
<div class="mt-4 mb-5 ml-5">
	<a href="{{ path('app_user_edit', {'id': user.id}) }}" class="buttonbuttonmodif ">Modifier</a>
</div>
{% endblock %}

