{% extends 'base.html.twig' %}

{% block title %}Book index{% endblock %}

{% block body %}

    <h1>Liste des livres</h1>

    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning mt-4">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-dismissible alert-success mt-4">
            {{ message }}
        </div>
    {% endfor %}

{# voici comment faire des commentaires en Twig 🍕🍕
    {% if not books is same as ([]) %}
    <div class="count ml-4 mt-4">
        <h5> Il y a {{ books.getTotalItemCount }} livres enregistrés </h5> 
    </div>
    {% endif %} #}

    <table class="table">
        <thead>
            <tr>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>Id</th>
                {% endif %}
                <th>Title</th>
                <th>Author</th>
                <th>Description</th>
                <th>Price</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                {% if is_granted('ROLE_ADMIN') %}
                    <td>{{ book.id }}</td>
                {% endif %}
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.description }}</td>
                <td>{{ book.price }}</td>
                <td>
                    <a href="{{ path('app_book_show', {'id': book.id}) }}"
                    class="btn btn-primary mt-4 ml-4 lift">show</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('app_book_edit', {'id': book.id}) }}"
                        class="btn btn-warning mt-4 ml-4">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_book_new') }}"
        class="btn btn-primary mt-4 mr-4 ml-4 mb-4" >Create new</a>
    {% endif %}

{% endblock %}
